# Copy this file to config.env, and fill in the relevant secrets.

# Discord bot token.
# Follow the instructions to create one here: https://discordpy.readthedocs.io/en/latest/discord.html
# and make sure to enable the bot scopes: Send Messages, Manage Messages, Add Reactions
# Then go to the Bot tab, [Click to Reveal Token] and paste it here..
bot_token=""

# Mahjong Soul OAuth2 access token.
# * Use your browser to sign up for a new MJS account with twitter authentication.
# * Open a new browser with network inspector open and capturing. Sign in to the account using the twitter.
# * Use network inspector to find websockets traffic to
#   "mjusgs.mahjongsoul.com" and locate the first ~150-200 byte payload. It will contain your access token,
#   which is in the format of a UUID like 2d1d9f57-2e34-4a7e-ad6c-c11920523138
# * After copying the token safely, close the browser, then paste this token here.
mahjong_soul_access_token=""

# string containing the desired command prefixes for invoking the bot's commands 
# command prefixes should be separated by spaces
# example: command_prefixes="! ? a/ b/"
command_prefixes="ms/"

# yaml file which contains list of channels and contests to manage
# and approved admin users for those contests
contests_configuration='contests.yaml'

# text file that contains the extensions to be loaded before starting the bot
extensions_file="./ext/extensions"

# Wix API Keys
wix_token=""
# To access account-level APIs, include this ID in your HTTP request header under the key: wix-account-id.
wix_site_id=""