[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
python-dotenv = "*"
discord = "*"
websockets = "*"
tabulate = "*"
pandas = "*"
protobuf_inspector = "*"

[dev-packages]
