[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "~=3.20"
python-dotenv = "*"
discord.py = "==1.4.2"
websockets = "*"
tabulate = "*"
pandas = "<2"
protobuf_inspector = "*"
pyyaml = "*"
requests = "*"
dateparser = "*"
cron_converter = "*"

[dev-packages]
